<nav class="navigation">
    <ul class="navigation-list">
        <li class="navigation-item"><a class="navigation-link" href="/borneo">borneo</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/kinabalu">kinabalu</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/the-adventure-company">the-adventure-company</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/travel-visa">travel-visa</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/vaccinations">vaccinations</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/money">money</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/clothing-and-footwear">clothing-and-footwear</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/equipment">equipment</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/footwear">footwear</a></li>
        <li class="navigation-item"><a class="navigation-link"
                href="/mosquito-repellents-and-anti-malarials">mosquito-repellents-and-anti-malarials</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/toiletries">toiletries</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/snacks">snacks</a></li>
    </ul>
    <ul class="navigation-list">
        </li>
        <li class="navigation-item"><a class="navigation-link" href="/kota-kinabalu">kota-kinabalu</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/taginambur">taginambur</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/mount-kinabalu">mount-kinabalu</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/descent-and-poring">descent-and-poring</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/poring-hot-springs">poring-hot-springs</a></li>
        <li class="navigation-item"><a class="navigation-link"
                href="/kinabatangan-jungle-camp">kinabatangan-jungle-camp</a>
        <li class="navigation-item"><a class="navigation-link" href="/sandakan">sandakan</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/turtle-island">turtle-island</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/sepilok">sepilok</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/seaside-inn">seaside-inn</a></li>
    </ul>

    <ul class="navigation-list">
        <li class="navigation-item"><a class="navigation-link" href="https://everest.philshum.co.uk/">Nepal 2011</a>
        </li>
        <li class="navigation-item"><a class="navigation-link" href="https://kili.philshum.co.uk/">Tanzania 2013</a>
        </li>
        <li class="navigation-item"><a class="navigation-link" href="https://kili.philshum.co.uk/">Borneo 2014</a>
        </li>
    </ul>
</nav>