<nav class="navigation">
    <ul class="navigation-list">
        <li class="navigation-item"><a class="navigation-link" href="/borneo">borneo</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/kinabalu">kinabalu</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/the-adventure-company">the-adventure-company</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/travel-visa">travel-visa</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/vaccinations">vaccinations</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/money">money</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/clothing-and-footwear">clothing-and-footwear</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/equipment">equipment</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/footwear">footwear</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/mosquito-repellents-and-anti-malarials">mosquito-repellents-and-anti-malarials</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/toiletries">toiletries</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/snacks">snacks</a></li>
    </ul>

    <ul class="navigation-list">
        <li class="navigation-item"><a class="navigation-link" href="/kota-kinabalu">day 0: kota-kinabalu</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/taginambur">day 1: taginambur</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/mount-kinabalu">day 2: mount-kinabalu</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/descent-and-poring">day 3: descent-and-poring</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/poring-hot-springs">day 4: poring-hot-springs</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/kinabatangan-jungle-camp">day 4: kinabatangan-jungle-camp</a>
        <li class="navigation-item"><a class="navigation-link" href="/sandakan">day 5: sandakan</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/turtle-island">day 6: turtle-island</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/sepilok">day 7: sepilok</a></li>
        <li class="navigation-item"><a class="navigation-link" href="/seaside-inn">day 8: seaside-inn</a></li>
    </ul>

    <ul class="navigation-list">
        <li class="navigation-item"><a class="navigation-link" href="https://everest.philshum.co.uk/">Nepal 2011</a></li>
        <li class="navigation-item"><a class="navigation-link" href="https://kili.philshum.co.uk/">Tanzania 2013</a></li>
        <li class="navigation-item"><a class="navigation-link" href="https://borneo.philshum.co.uk/">Borneo 2014</a></li>
    </ul>
</nav>